<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qiscus.multichannel">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".ui.loading.LoadingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.chat.image.ImageMessageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.chat.ChatRoomActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.webview.WebViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <receiver
            android:name=".util.NotificationClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.qiscus.OPEN_COMMENT_PN" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".ui.test.BlankForTestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>